;; shadow-cljs configuration
{:lein true
 :nrepl {:port 8777}
 :dev-http {8088 "public/"}
 ; ignored because we use leiningen
 ;:source-paths ["src"]
 ;:dependencies []
 :builds {:app
          {:target :browser
           :output-dir "public/js"
           :modules {:main {:init-fn plang.index/main!}}}}}